<div class="container my-5">
    <h1 class="mb-3">Despesas</h1>

    <table class="table" *ngIf="despesas">
        <thead>
            <tr>
                <th>Nome Despesa</th>
                <th>Descrição Despesa</th>
                <th>Data</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let despesa of despesas">
                <td>{{ despesa.nomeDespesa}}</td>
                <td>{{ despesa.descricaoDespesa}}</td>
                <td>{{ despesa.data | date:'dd/MM/yyyy'}}</td>
                <td>{{ despesa.valor | currency}}</td>
                <td> <a [routerLink]="['/despesa', 'edit', despesa.codDespesa]">
                    <i class="bi bi-eye"></i>
                  </a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>    
                <td colspan="3"></td>
                <td><strong>{{ calcularTotalDespesas() | currency }}</strong></td>
            </tr>
        </tfoot>
    </table>
    <p *ngIf="!despesas">Nenhuma Despesa</p>
</div>
